<div class="c-dashboard">
  <h1>{{title}}</h1>
  <div class="list-creation-wrapper">
    <ElementCreator
      v-for="elementCreator in elementCreators"
      :key="elementCreator.id"
      v-bind="elementCreator"
    />
  </div>
  <div class="all-elements-wrapper">
    <div class="unassinged-elements">
      <List
        :items="unassingedItems"
      />
    </div>
    <div class="assinged-elements">
      <List
        v-for="list in lists"
        :key="list.id"
        :title="list.title"
      />
    </div>
  </div>
</div>